{% extends "orders/base.html" %}

{% block title %}
  Shopping cart
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
  {% if items_total == 0 %}
    <h1>Cart is empty!</h1>
  {% else %}
  <h1>Shopping cart ({{ items_total }}) </h1>
    <table class="table">
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Date and time</th>
    </tr>
    {% for o in order %}
      <tr>
        <td scope="row">{{ o.type }}</td>
        <td>{{ o.quantity }}</td>
        <td>€{{ o.price }}</td>
        <td>{{ o.date_ordered }}</td>
      </tr>
    {% empty %}
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {% endfor %}
    </table>
    <form class='m-5' action="{% url 'cart' %}" method="POST">
      <h4>Total price: €{{ total.price__sum|floatformat:2 }}</h4>
      {% csrf_token %}
      <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Confirm order
            </label>
            <div class="invalid-feedback">
              Please confirm your order.
            </div>
          </div>
        </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Place order</button>
      </div>
    </form>
    <form class='m-5' action="{% url 'delete_cart' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Delete items</button>
      </div>
    </form>
  {% endif %}
{% endif %}
{% endblock %}
