{% extends "orders/base.html" %}

{% block title %}
  Shopping cart
{% endblock %}

{% block body %}
  {% if user.is_authenticated %}
    {% if items_total == 0 %}
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">Hmmm... not much going on here</h4>
          <p class="card-text">Your shopping cart is empty. Have a look at our menu!</p>
        </div>
      </div>
      {% else %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Shopping cart ({{ items_total }})</h4>
          </div>
        <table class="table">
        <tr>
          <th scope="col">Order</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Date and time</th>
        </tr>
        {% for ord in order %}
          <tr>
            <td>{{ ord.type }}</td>
            <td>{{ ord.quantity }}</td>
            <td>€{{ ord.price }}</td>
            <td>{{ ord.date_ordered }}</td>
          </tr>
          {% empty %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        {% endfor %}
        <tr>
          <td scope="row"><h5>Total price: €{{ total.price__sum|floatformat:2 }}</h5></td>
          <td></td>
          <td></td>
          <td><div class="form-group mr-4">
            <form class='form-inline-center' action="{% url 'delete_cart' %}" method="POST">
              {% csrf_token %}
                <div class="form-group">
                  <button type="submit" class="btn btn-danger">Delete items</button>
                </div>
            </form>
          </div>
          </td>
        </tr>
        </table>
        <div class="card-body">
          <h4 class="card-title">Shipping information</h4>
          <form class="form" action="{% url 'cart' %}" method="POST">
            {% csrf_token %}
              <div class="form-group col-md-6">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" name="address" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" name="city" required>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip code</label>
                <input type="text" class="form-control" id="inputZip" name="zip" required>
              </div>
              <div class="form-group col-md-8">
                <label for="exampleFormControlTextarea4">Add a comment to your order (optional)</label>
                <textarea class="form-control" name="comment" id="exampleFormControlTextarea4" rows="3" placeholder="Dietary restrictions, general comments, etc."></textarea>
              </div>
              <div class="form-group col-md-8">
                <input class="form-control" type="checkbox" value="" id="invalidCheck" required>
                <label for="invalidCheck">
                  Confirm order
                </label>
                <div class="invalid-feedback">
                  Please confirm your order.
                </div>
              </div>
              <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary">Place order</button>
              </div>
          </form>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
