{% extends "orders/base.html" %}

{% block title %}
  User info
{% endblock %}

{% block body %}
  {% if not user.is_superuser %}
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">Previous orders ({{ order_total }})</h4>
      </div>
      <table class="table">
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
      </tr>
      {% for o in order %}
        <tr>
          <td scope="row">{{ o.type }}</td>
          <td>{{ o.quantity }}</td>
          <td>€{{ o.price }}</td>
          <td>{{ o.date_ordered }}</td>
        </tr>
      {% empty %}
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">All orders ({{ all_orders_total }})</h4>
      </div>
      <table class="table">
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Comments</th>
        <th scope="col">Address</th>
        <th scope="col">Date</th>
      </tr>
      {% for o in all_orders %}
        <tr>
          <td scope="row">{{ o.type }}</td>
          <td>{{ o.quantity }}</td>
          <td>€{{ o.price }}</td>
          {% if o.comment %}
            <td>"{{ o.comment }}"</td>
          {% else %}
            <td>No comment</td>
          {% endif %}
          <td>{{ o.address }}</td>
          <td>{{ o.date_ordered }}</td>
        </tr>
      {% empty %}
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% endif %}
{% endblock %}
